@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: 'Roboto', sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Print Styles */
@page {
  size: A4;
  margin: -40mm 15mm;
  padding: 50px 0; /* Standard margin for A4 */
}

@media print {
  body {
    margin: 0;
    padding: 0;
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
    font-size: 12px;
    position: relative;
  }

  body::before {
    content: 'instacks';
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    font-size: 100px;
    color: rgba(0, 0, 0, 0.1);
    z-index: 1000;
    pointer-events: none;
  }

  .no-print {
    display: none !important;
  }

  .resume-container {
    width: 210mm;
    min-height: 297mm;
    padding: 10%;
    box-sizing: border-box;
  }

  .resume-content {
    max-width: 100%;
    margin: 0 auto;
  }

  .print-section {
    break-inside: avoid;
  }

  .side-column {
    width: 30%;
    break-inside: avoid;
  }

  .main-column {
    width: 70%;
    break-inside: avoid;
  }
}

.break-inside-avoid {
  break-inside: avoid;
}

.page {
  break-inside: avoid;
}
